# ========================================
# CONFIGURAÇÕES DE BANCO DE DADOS (POSTGRESQL)
# ========================================
POSTGRES_USER=bridge_prod_user
POSTGRES_PASSWORD=senha_segura_do_banco_aqui
POSTGRES_DB=bridge_prod_db
POSTGRES_HOST=db
POSTGRES_PORT=5432
# Composição: postgresql+asyncpg://USUARIO:SENHA@HOST:PORTA/BANCO
DATABASE_URL=postgresql+asyncpg://bridge_prod_user:senha_segura_do_banco_aqui@db:5432/bridge_prod_db

# ========================================
# CONFIGURAÇÕES DO BACKEND (API)
# ========================================
# Chave secreta usada para assinar tokens JWT. Gere uma string longa e aleatória.
SECRET_KEY=coloque_uma_chave_secreta_bem_longa_aqui_para_producao
BACKEND_CORS_ORIGINS=["*"]

# ========================================
# CONFIGURAÇÕES DO FRONTEND
# ========================================
# A URL onde a API do backend estará acessível pelo navegador do usuário.
# Altere 'localhost' para o IP da sua VPS ou para o seu domínio (ex: https://api.meudominio.com/api/v1)
URL_API_PROD=http://localhost:8000/api/v1

# Portas Externas
API_PORT_EXTERNAL=8000
FRONTEND_PORT_EXTERNAL=80
